## Red Hat Remastered

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
from pylab import rcParams
rcParams['figure.figsize'] = 20,10

In [3]:
df_one = pd.read_csv('act1_data.csv')
df_one.head()

,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,outcome,...,pchar_30,pchar_31,pchar_32,pchar_33,pchar_34,pchar_35,pchar_36,pchar_37,pchar_38,days
0,22,27,0,0,5,2,2,14,17,0,...,0,0,0,0,0,0,0,0,76,91
1,29,2,6,0,5,0,0,12,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,28,7,2,0,2,3,13,0,0,...,0,0,0,0,0,0,0,0,0,324
3,11,11,4,2,4,1,1,12,11,0,...,0,0,0,0,0,0,0,0,0,217
4,11,27,4,1,5,0,0,14,17,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157615 entries, 0 to 157614
Data columns (total 49 columns):
char_1      157615 non-null int64
char_2      157615 non-null int64
char_3      157615 non-null int64
char_4      157615 non-null int64
char_5      157615 non-null int64
char_6      157615 non-null int64
char_7      157615 non-null int64
char_8      157615 non-null int64
char_9      157615 non-null int64
outcome     157615 non-null int64
pchar_1     157615 non-null int64
pchar_2     157615 non-null int64
pchar_3     157615 non-null int64
pchar_4     157615 non-null int64
pchar_5     157615 non-null int64
pchar_6     157615 non-null int64
pchar_7     157615 non-null int64
pchar_8     157615 non-null int64
pchar_9     157615 non-null int64
pchar_10    157615 non-null int64
pchar_11    157615 non-null int64
pchar_12    157615 non-null int64
pchar_13    157615 non-null int64
pchar_14    157615 non-null int64
pchar_15    157615 non-null int64
pchar_16    157615 non-null int64
pchar_17    157615 non-null int64
pchar_18    157615 non-null int64
pchar_19    157615 non-null int64
pchar_20    157615 non-null int64
pchar_21    157615 non-null int64
pchar_22    157615 non-null int64
pchar_23    157615 non-null int64
pchar_24    157615 non-null int64
pchar_25    157615 non-null int64
pchar_26    157615 non-null int64
pchar_27    157615 non-null int64
pchar_28    157615 non-null int64
pchar_29    157615 non-null int64
pchar_30    157615 non-null int64
pchar_31    157615 non-null int64
pchar_32    157615 non-null int64
pchar_33    157615 non-null int64
pchar_34    157615 non-null int64
pchar_35    157615 non-null int64
pchar_36    157615 non-null int64
pchar_37    157615 non-null int64
pchar_38    157615 non-null int64
days        157615 non-null int64
dtypes: int64(49)
memory usage: 58.9 MB

In [5]:
df_one.drop(labels=['days'],axis=1,inplace=True)

In [6]:
from sklearn.decomposition import PCA
pca = PCA(n_components=6)

In [7]:
X = df_one[['pchar_{}'.format(i) for i in range(1,38)]]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157615 entries, 0 to 157614
Data columns (total 37 columns):
pchar_1     157615 non-null int64
pchar_2     157615 non-null int64
pchar_3     157615 non-null int64
pchar_4     157615 non-null int64
pchar_5     157615 non-null int64
pchar_6     157615 non-null int64
pchar_7     157615 non-null int64
pchar_8     157615 non-null int64
pchar_9     157615 non-null int64
pchar_10    157615 non-null int64
pchar_11    157615 non-null int64
pchar_12    157615 non-null int64
pchar_13    157615 non-null int64
pchar_14    157615 non-null int64
pchar_15    157615 non-null int64
pchar_16    157615 non-null int64
pchar_17    157615 non-null int64
pchar_18    157615 non-null int64
pchar_19    157615 non-null int64
pchar_20    157615 non-null int64
pchar_21    157615 non-null int64
pchar_22    157615 non-null int64
pchar_23    157615 non-null int64
pchar_24    157615 non-null int64
pchar_25    157615 non-null int64
pchar_26    157615 non-null int64
pchar_27    157615 non-null int64
pchar_28    157615 non-null int64
pchar_29    157615 non-null int64
pchar_30    157615 non-null int64
pchar_31    157615 non-null int64
pchar_32    157615 non-null int64
pchar_33    157615 non-null int64
pchar_34    157615 non-null int64
pchar_35    157615 non-null int64
pchar_36    157615 non-null int64
pchar_37    157615 non-null int64
dtypes: int64(37)
memory usage: 44.5 MB

In [9]:
pca.fit(X)
T = pca.transform(X)
T = pd.DataFrame(T,columns=['pchar_{}'.format(i) for i in range(1,7)])
print T.shape
print pca.explained_variance_ratio_.sum()

(157615, 6)
0.984073868052

In [10]:
target = df_one[['outcome']]
print target.shape

(157615, 1)

In [11]:
df_one.drop(labels=['pchar_{}'.format(i) for i in range(1,38)],axis=1,inplace=True)

In [15]:
df_two = pd.concat([df_one,T],axis=1)
df_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157615 entries, 0 to 157614
Data columns (total 17 columns):
char_1      157615 non-null int64
char_2      157615 non-null int64
char_3      157615 non-null int64
char_4      157615 non-null int64
char_5      157615 non-null int64
char_6      157615 non-null int64
char_7      157615 non-null int64
char_8      157615 non-null int64
char_9      157615 non-null int64
outcome     157615 non-null int64
pchar_38    157615 non-null int64
pchar_1     157615 non-null float64
pchar_2     157615 non-null float64
pchar_3     157615 non-null float64
pchar_4     157615 non-null float64
pchar_5     157615 non-null float64
pchar_6     157615 non-null float64
dtypes: float64(6), int64(11)
memory usage: 20.4 MB

In [20]:
df_two.drop(labels=['outcome'],axis=1,inplace=True)

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
rfc = RandomForestClassifier(n_estimators=100)

In [21]:
from sklearn.cross_validation import train_test_split
X_train,X_cv,y_train,y_cv = train_test_split(df_two,target,test_size=0.33,random_state=7)
print X_train.shape,y_train.shape

(105602, 16) (105602, 1)

In [25]:
rfc.fit(X_train,y_train.values.reshape(-1,))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [26]:
print rfc.score(X_cv,y_cv)

0.927172053141