## Basic Approach using Neural Networks (Sequential)

In [1]:
import numpy as np
import pandas as pd
from keras.layers import Activation,Dense,Dropout
from keras.models import Sequential
import matplotlib.pyplot as plt
%pylab inline

Using Theano backend.

Populating the interactive namespace from numpy and matplotlib

In [2]:
## We can consider each of the series as an array of pixels (like MNIST) and construct a neural network
training_data = pd.read_csv('/Users/najeebkhan/Desktop/Dataset/sequence/train.csv')
training_data.info()
training_data.describe()
training_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113845 entries, 0 to 113844
Data columns (total 2 columns):
Id          113845 non-null int64
Sequence    113845 non-null object
dtypes: int64(1), object(1)
memory usage: 1.7+ MB

   Id                                           Sequence
0   3  1,3,13,87,1053,28576,2141733,508147108,4021352...
1   7  1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...
2   8  1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...
3  11  1,8,25,83,274,2275,132224,1060067,3312425,1099...
4  13  1,111,12211,1343211,147753211,16252853211,1787...

In [20]:
number_of_sequences = len(training_data['Sequence'])
max = 0
for i in range(number_of_sequences):
    if(len(training_data['Sequence'][i]) > max):
        max = len(training_data['Sequence'][i])

In [21]:
print max

1281

In [22]:
X = np.zeros((len(training_data['Sequence']),max))

In [23]:
print X

[[ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]]

In [33]:
print training_data['Sequence'][0].split(',')

['1', '3', '13', '87', '1053', '28576', '2141733', '508147108', '402135275365', '1073376057490373', '9700385489355970183', '298434346895322960005291', '31479360095907908092817694945', '11474377948948020660089085281068730']

In [39]:
for i in range(number_of_sequences):
    k = 0
    for j in training_data['Sequence'][i].split(','):
        X[i,k] = j
        k += 1

In [40]:
print X

[[   1.    3.   13. ...,    0.    0.    0.]
 [   1.    2.    1. ...,    0.    0.    0.]
 [   1.    2.    4. ...,    0.    0.    0.]
 ...,
 [   0.    1.    9. ...,    0.    0.    0.]
 [   2.    3.    3. ...,    0.    0.    0.]
 [   5.    7.  179. ...,    0.    0.    0.]]